:root {
   --app-height: 100vw;
}

@font-face {
	font-family: TitilliumWeb;
	font-weight: 400;
	src: url("../fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
	font-family: TitilliumWeb;
	font-weight: 600;
	src: url("../fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face {
	font-family: TitilliumWeb;
	font-weight: 100;
	src: url("../fonts/Titillium_Web/TitilliumWeb-Light.ttf") format("truetype");
}

body {
	--primary-bg-color: #fff;
	--primary-fg-color: #000;
}

body.frametrail-body {
	background: #4D5567;
	font-family: TitilliumWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	overflow: auto;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

h4, h5 {
	font-size: 16px;
}

hr {
	background-color: #cfcfcf;
	height: 1px;
	border: 0;
	clear: both;
}

button {
	border: 1px solid transparent;
}

button:hover, button:active, button:focus {
	border: 1px solid #ccc;
}

[class^="icon-"]::before, [class*=" icon-"]::before, .ui-icon::before {
	font-family: 'Glyphicons Halflings';
}

.fa-file-alt {
	margin-right: 6px;
}

.message {
	height: auto;
	line-height: 20px;
	background-color: #FCFAF1;
	border: 1px solid #FFC414;
	color: #333;
	padding: 1px 4px;
	margin-bottom: 10px;
	clear: both;
	border-radius: 3px;
	display: none;
}

.tab-pane .message {
	margin-top: 10px;
}

.message.active {
	display: block;
}

.message.success {
	background-color: #f1ffe3;
	border: 1px solid #739600;
	color: #739600;
}

.modal-dialog button:hover {
	border: none;
}

.workingIndicator {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(33,41,53,.9);
    z-index: 10000000000;
    display: none;
}

.workingMessage {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.workingSpinner {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    transform-origin: center;
    background: var(--primary-bg-color);
    background: -moz-linear-gradient(left, var(--primary-bg-color) 10%, transparent 42%);
    background: -webkit-linear-gradient(left, var(--primary-bg-color) 10%, transparent 42%);
    background: -o-linear-gradient(left, var(--primary-bg-color) 10%, transparent 42%);
    background: -ms-linear-gradient(left, var(--primary-bg-color) 10%, transparent 42%);
    background: linear-gradient(to right, var(--primary-bg-color) 10%, transparent 42%);
    -webkit-animation: loading 1.4s infinite linear;
    animation: loading 1s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    mask-image: radial-gradient(transparent 65%, #000 66%);
    -webkit-mask-image: radial-gradient(transparent 65%, #000 66%);
}

.workingSpinner:before {
    width: 50%;
    height: 50%;
    background: var(--primary-bg-color);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.workingSpinner:after {
    background: var(--primary-fg-color);
    width: 90%;
    height: 90%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#appTitle {
	color: #f2f3f6;
	font-size: 16px;
	position: absolute;
	top: 12px;
	right: 0px;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

body:not(.result) #appTitle {
	display: block !important;
}

#optionsContainer {
	position: absolute;
	top: 10px;
	right: 10px;
}

#optionsContainer .btn {
	margin-left: 4px;
	background: #d1d4d9;
	color: #3f3f3f;
	border-color: transparent;
}

#optionsContainer .btn:hover {
	background: #f2f3f6;
	color: #000;
}

#optionsContainer .btn:not(#aboutButton) {
	visibility: hidden;
	pointer-events: none;
}

body.result #optionsContainer .btn:not(#aboutButton) {
	visibility: visible;
	pointer-events: all;
}

.tableContainer .btn-group .btn {
	background: transparent;
	color: #3f3f3f;
	border-color: #ced4da;
}

.tableContainer .btn-group .btn:hover {
	background: #e5e9eb;
	color: #000;
}

#optionsContainer #fullscreenButton .fa-times {
	display: none;
}

body.inFullscreen #optionsContainer #fullscreenButton .fa-expand {
    display: none;
}

body.inFullscreen #optionsContainer #fullscreenButton .fa-times {
    display: inline-block;
}

.main {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

#fileDropContainer {
	height: calc(var(--app-height) - 90px);
	line-height: 30px;
	background-color: #565D6D;
	border: 2px dashed #B0B0B0;
	color: #c6c7ca;
	padding: 15% 20px;
	margin: 40px 10px 0px 10px;
	clear: both;
	border-radius: 3px;
	text-align: center;
	transition-property: height, padding;
	transition-duration: 600ms;
	font-size: 16px;
	font-weight: 100;
}

#fileDropContainer .btn {
	vertical-align: initial;
}

body.result #fileDropContainer {
	height: 0px;
	padding: 0px;
	margin: 0;
	border: none;
	overflow: hidden;
}

#fileDropContainer.dragOver {
	border: 2px solid #FFFFFF;
	background: #363D4D;
}

.sampleDataInfo {
	display: none;
}

.fileContainer {
	/*
	padding-top: 20px;
	padding-bottom: 20px;
	*/
}

body.result .fileContainer {
	/*display: none;*/
}

.fileContainer ul {
	list-style: none;
	padding: 0px;
	margin: none;
	max-height: 90px;
	overflow: scroll;
	display: none;
}

.fileContainer ul li {
	float: left;
	padding: 2px 6px;
	margin: 0 4px 4px 0;
	border: 1px solid transparent;
	background: #f2f3f6;
}

.fileContainer ul li:hover {
	border-color: #afafaf;
}

.fileContainer ul li.active {
	border-color: #999999;
	box-shadow: inset 0 0 6px #afafaf;
	background: #efefef;
}

.fileContainer ul li i.fa-times {
	margin-left: 10px;
	opacity: .7;
}

.fileContainer ul li i.fa-times:hover {
	opacity: 1;
	cursor: pointer;
}

.resultContainer {
	clear: both;
	display: none;
}

.tab-content {
	padding: 1px 10px 10px 10px;
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	background: #ffffff;
}

.resultContainer .nav-link {
	color: #3f3f3f;
}

.resultContainer .nav-link.active {
	color: #000;
}

.resultContainer > .nav-tabs > li > .nav-link {
	background: #d1d4d9;
	margin-right: 1px;
}

.resultContainer > .nav-tabs > li > .nav-link.active,
.resultContainer > .tab-content {
	background: #f2f3f6;
	border-color: #f2f3f6;
}

.resultContainer > .nav-tabs > li > .nav-link .fa {
	margin-right: 10px;
}

.resultContainer > .tab-content {
	height: calc(var(--app-height) - 60px);
	overflow: auto;
}

.selectResultTable {
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
}

.resultContainer textarea {
	width: 100%;
	height: 300px;
}

.resultContainer #visualResultContainer {
	margin-top: 20px;
}

.resultContainer #visualResultContainer .evalBody {
	overflow: scroll;
	padding-bottom: 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 2px 1px inset #C8C8C8;
}

.resultContainer #visualResultContainer ul {
	position: relative;
	white-space: nowrap;
	margin: 5px 0 0px 0;
	padding: 0 0 5px 0;
	height: 26px;
}

.resultContainer #visualResultContainer ul.detectedSequences {
	margin-left: 0px;
}

.resultContainer #visualResultContainer li {
	display: inline-block;
	width: 150px;
	margin: 0 3px 3px 0;
	padding: 2px 6px;
	background: #efefef;
}

.resultContainer #visualResultContainer li.sequencesListItem {
	position: absolute;
	bottom: 0px;
	height: 24px;
	background: #FFBD79;
	overflow: hidden;
	opacity: .5;
	cursor: default;
}

.resultContainer #visualResultContainer li.sequencesListItem:hover {
	opacity: .8;
}

.resultContainer #visualResultContainer li.sequencesListItem.prioritized {
	border: 3px solid #000;
	padding-top: 0px;
	line-height: 17px;
	opacity: 1;
}

.resultContainer #visualResultContainer li.sequencesListItem.prioritized:hover {
	opacity: 1;
}

.tableContainer {
	margin-top: 15px;
	margin-bottom: 10px;
}

.tableContainer h4 {
	margin-bottom: 0px;
}

.tableContainer table {
	overflow: hidden;
}

.tableContainer table td {
	position: relative;
	cursor: default;
}

#transitionMatrixColoredResultContainer .tableContainer {
	position: relative;
	z-index: 1;
}

#transitionMatrixColoredResultContainer .tableContainer table td:hover {
	font-weight: bolder;
}

#transitionMatrixResultContainer .tableContainer table td:hover::before,
#transitionMatrixColoredResultContainer .tableContainer table td:hover::before {
	content: "";
	position: absolute;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
	/* keep it below table content */
	background-color: rgba(0,0,0,.075);
}

#actionDataResultContainer {
	margin: 0px;
}

#actionDataResultContainer .tableContainer {
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 3px;
}

/******************************
* Interactive Markov Chains
******************************/

.markovChainVisualization {
  	position: relative;
  	width: 100%;
	background-color: #ffffff;
	color: white;
	pointer-events: none;
	left: 0;
	height: calc(var(--app-height) - 195px);
	min-height: 600px;
	box-sizing: border-box;
	border: 1px solid #dfdfdf;
}

.markovChainVisualization .visualizationOptionsContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #495057;
	z-index: 2;
	pointer-events: all;
}

.markovChainVisualization .nodes {
  pointer-events: all;
}
.markovChainVisualization .node {
  stroke: #3d4557;
  stroke-width: 1px;
  opacity: 1;
}
.markovChainVisualization .currentState {
  fill: rgba(0, 0, 0, 0.4);
  stroke: #424242;
  pointer-events: none;
  display: none;
}
.markovChainVisualization[data-simulationCheckbox="true"] .currentState {
  display: block;
}
.markovChainVisualization .node text{
  text-anchor: middle;
  font-size: 14px;
}
.markovChainVisualization .links {
  fill: none;
}
.markovChainVisualization .links text {
  display: none;
  font-size: 10px;
  fill: #777777;
}
.markovChainVisualization[data-valuesCheckbox="true"] .links text {
	display: block;
}
.markovChainVisualization .link {
  opacity: 0.4;
  -webkit-transition: .25s opacity;
  transition: .25s opacity;
}
.markovChainVisualization .link.active {
  opacity: 0.8;
}
.markovChainVisualization .link.inactive {
  opacity: 0.1;
}